<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpeechKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>011CF9051DBEFE63008E31E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>011CF91E1DBEFE63008E31E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>011CF9291DBEFE63008E31E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
